## **_Methods of Verification:_** {#methods-of-verification}

The two most common methods of verification are: