## **_Verification:_** {#verification}

A verification check ensures that data i9s correctly transferred into a computer from the medium that it was originally stored on. Verification checks are usually used to check that a data entry worker has correctly typed information written on a data collection form into a computer.